.navbar{
    font-family: 'Lato', Verdana, sans-serif;
    font-size: 18px;
    clear:both;
    overflow:auto;
    background-color: #333;
    color: #C4B8BD;
    border-bottom: 2px solid #27A59C;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

nav a:any-link{
    color: #C4B8BD;
    text-decoration: none;nav{
    float:right;
}

header img{
    float:left;
    padding-left: 0.25rem;
    width: 80px;
}

ul li{
    display: inline-block; 
    padding: 0.5rem;
}
